@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}


label {
  display: block;
  font-weight: bold;
}

form {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
  width: 350px;
}

form ul {
  list-style-type: none;
  padding: 0;
}

form ul li {
  padding: 10px;
}

form ul li input {
  width: 300px;
  padding: 5px;
  margin: 3px 0;
  font-weight: 400;
  background: #eee;
  box-shadow: 0 1px 3px #eee;
  border: none;
}

.button-li {
  display: grid;
  grid-template-columns: 4fr 1fr;

  padding: 10px;
  grid-gap: 5px;
  width: 300px;

}
input[type="submit"] {
  padding: 10px;
  color: #eee;
  margin: 5px;
  font-weight: 400;
  background: #07b43a;
  box-shadow: 0 1px 3px #07b43a;
  width: 100%;
}

input[type="reset"] {
  padding: 10px;
  color: #eee;
  margin: 5px;
  font-weight: 400;
  background: #cc0000;
  box-shadow: 0 1px 3px #cc0000;
  width: 100%;
}

#feed_toggle__checkbox {
  display: none;
}

.send_to_feed {
  margin: 40px 20px;
  display: none;
}

.feed_toggle__label--show {
  display: inline;
}

.feed_toggle__label--hide {
  display: none;
}

#feed_toggle__checkbox:checked ~ .feed_toggle__label--show {
  display: none;
}

#feed_toggle__checkbox:checked ~ .feed_toggle__label--hide {
  display: inline;
}

#feed_toggle__checkbox:checked ~ .send_to_feed {
  display: block;
}

.feed_toggle__label {
  padding: 10px;
  margin: 5px;
  font-weight: 400;
  background: #00c5cd;
  box-shadow: 0 1px 3px #00c5cd;
}

.account h1 {
  margin-bottom: 0;
}
.account .date {
  margin-left: 30px;
}
