<!DOCTYPE html>
<html>
<head>
  <title>Monzo Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='jscolor.js') }}"></script>
</head>
<body>
  {% for account in accounts %}
  <div class="account">
    <h1>{{ account["id"] }}</h1>
    <span class="date"><i>Created - {{ account["created"] }}</i></span>
    <ul>
      <li>Account Number - {{ account["account_number"] }}</li>
      <li>Sort Code - {{ account["sort_code"] }}</li>
      <li>Currency - {{account["currency"]}}</li>
      <li>Balance - {{ account["balance"] }}</li>
      <li>Spent Today - {{ account["spend_today"] }}</li>
      <li>Owned by - {{ account["owners"]}}</li>
    </ul>
    <input type="checkbox" id="feed_toggle__checkbox">
    <label for="feed_toggle__checkbox" class="feed_toggle__label feed_toggle__label--show">Send Feed Message</label>
    <label for="feed_toggle__checkbox" class="feed_toggle__label feed_toggle__label--hide">Hide</label>
    <div class="send_to_feed">
      <form action="{{ url_for('create_feed_item_view') }}" method="post">
        <input type="hidden" value="{{account['id']}}" name="account_id">
        <input type="hidden" value="{{ csrf_token() }}" name="_csrf_token">
        <ul>
          <li>
            <label for="title">Title *</label>
            <input type="text" name="title" id="title" value="balance" required>
          </li>
          <li>
            <label for="body">Body *</label>
            <input type="text" name="body" id="body" value="balance is {{ account['balance'] }} {{ account['currency'] }}" required>
          </li>
          <li>
            <label for="image_url">Image URL *</label>
            <input type="url" name="image_url" id="image_url" value="https://monzo.com/static/images/favicon.png" required>
          </li>
          <li>
            <label for="url">URL</label>
            <input type="url" name="url" id="url">
          </li>
          <li>
            <label for="title_color">Title Color</label>
            <input class="jscolor" name="title_color" id="title_color" value="000000">
          </li>
          <li>
            <label for="body_color">Body Color</label>
            <input class="jscolor" name="body_color" id="body_color" value="000000">
          </li>
          <li>
            <label for="background_color">Background Color</label>
            <input class="jscolor" name="background_color" id="background_color" value="ffffff">
          </li>
          <li class="button-li">
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
          </li>
      </form>
    </div>
  {% endfor %}
</body>
</html>
